/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

/* *-selector to remove default styles*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* General styles */
body{
    font-family: "Montserrat", sans-serif;
    color: #4A0404;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

h1 {
    font-family: "Raleway", "Montserrat", sans-serif;
    text-transform: uppercase;
    font-style: normal;
    font-weight: 600;
    color: #722F37;
    letter-spacing: 2px;
    font-size: 45px;
}

h2, h3 {
    letter-spacing: 1px;
    font-weight: bold;
}

/* Main Element */
main{
    /* Push footer down */
    flex: 1 0 auto;
    margin-top: 53px;
    flex-direction: column;
    padding-bottom: 2rem;
}

/*Header*/
/* What to do in header
1. box shadow
2. Style it in page colours etc
 */
header{
    color: #4A0404;
    width:100%;
    padding: 0 1rem;
    display: flex;
    justify-content: space-between;
    position: fixed;
    z-index: 99;
    align-items: baseline;
    background-color: #ffffff;
}

header a{
    text-decoration: none;
    color: inherit;
}

.active{
    border-bottom: 1px solid #4A0404;
}

/* navbar to make mobile menu toggable */
nav{
    position: absolute;
    width: 100%;
    top: 100%;
    left: 0;
    text-align: end;
    background-color: #ffffff;
    /* when not checked invisible */
    display: none;
}

/* Menu/navbar*/
#menu{
    list-style-type: none;
    font-size: 110%;
}

#menu li{
    padding-right: 1rem;
    margin-bottom: 0.5rem;
}

/* checkbox itself will be invisible */
#menu-mobile-icon{
    display: none;
}

/* when burger icon is clicked it will become visible */
#menu-mobile-icon:checked~nav{
    display: block;
}

.menu-mobile-icon-label{
    font-size: 2.5rem;
}

#hero{
    background: url(../images/hero-image1.webp) no-repeat center center / cover;
    height: 650px;
    width:100%;
    position: relative;
}

/* Cover-Text */
#cover-text{
    background-color: rgba(240,234,214, 0.7);
    border-radius: 3px;
    width: 82%;
    font-size: 140%;
    position: absolute;
    bottom: 15px;
    left: 10px;
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    min-height: 100px;
}

/* Best Courses Section */
#best-courses {
    text-align: center;
    padding-top: 1.5rem;
}

#best-courses h2 {
    padding-bottom: 0.5rem;
}

#best-courses h3 {
    font-size: 120%;
    padding-top: 5px;
}

.best-course-box{
    width:100%;
    height: 150px;
}

.best-course-text {
    height: 100px;
}

#best-reformer-courses, 
#best-pilates-courses,
#best-outdoor-courses,
#best-single-courses {
    padding: 0 5% 1rem 5%;
}

#best-pilates-courses-image {
    background: url(../images/best-pilates-courses-image.webp) center center / cover;
}

#best-reformer-courses-image {
    background: url(../images/best-reformer-courses-image.webp) bottom center / cover;
}

#best-outdoor-courses-image {
    background: url(../images/best-outdoor-courses-image.webp) center center / cover;
}

#best-single-courses-image {
    background: url(../images/best-single-courses-image.webp) center center / cover;
}

/* Why Pilates section on index page */
#why-pilates {
    text-align: justify;
    padding: 1rem;
}

#why-pilates h2{
    text-align: center;
    padding-bottom: 5px;
}

#ul-why-pilates {
    list-style-type:circle;
    font-weight:550;
    padding-left: 1.5rem;
}

/* Courses Page */

/* Course table */
table{
    font-size: 85%;
    /* to make table wholly visible on mobile */
    overflow-x: auto;
    display: block;
}

td { 

}

/* Footer  */
footer {
    margin-top: auto;
}

#social-media-links{
    text-align: center;
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    padding: 15px 0;
}

#social-media-links i{
    font-size: 140%;
    color: #722F37;
    padding: 3%;
}

/* Media:query add responsiveness for larger smartphone screens (440px and up) */
@media screen and (min-width: 440px) {
    /* Courses Section of Index page */
    .best-course-box{
        max-width:396px;
        margin: auto;
    }

}

/* Media:query add responsiveness for tablets and larger (768px and up)*/
@media screen and (min-width: 768px) {
    /* Hero image and Cover-Text */
    #cover-text{

    }

    /* make navbar visible again and display menu-list horizontally */
    nav {
        display: flex;
        display: block;
        position: relative;
        width: fit-content;
    }
    
    #menu{
        display: flex;
    }

    /* will not need burger dropwdown menu anymore */
    .menu-mobile-icon-label{
        display: none;
    }

    /* Courses Section of Index page */
    .best-course-box{
        max-width:396px;
        margin: 0;
    }

    #best-reformer-courses,
    #best-pilates-courses,
    #best-single-courses,
    #best-outdoor-courses{
        display: flex;
        justify-content: center;
        padding: 0 5% 0 5%;
    }

    #best-pilates-courses-image, #best-outdoor-courses-image {
        order: -1;
    }

    .best-course-text {
        padding: 0;
        align-items: center;
        width: 100%;
        height: 150px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

}

/* Media query: big desktops  (992px and up) */
@media screen and (min-width: 992px) {
    /* Hero image and Cover-Text */
    #hero {
        height: 800px;
    }

    #cover-text{
        width: 500px;
        font-size: 180%;
        padding-left: 40px;
        left: unset;
        bottom: unset;
        right: 150px;
        top: 25px;
    }

    /* Courses-Section  on index page*/
    #best-courses{
        width: 1200px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-self: center;
        margin: auto;
    }
    
    #best-reformer-courses,
    #best-pilates-courses,
    #best-single-courses,
    #best-outdoor-courses{
        padding: 0;
    }

    #best-reformer-courses:hover,
    #best-pilates-courses:hover,
    #best-outdoor-courses:hover,
    #best-single-courses:hover {
        border: solid 1px #4A0404;
        padding: 0;
        background-color: antiquewhite;
    }

    .best-course-box{
        max-width:600px;
        margin: 0;
        height: 250px;
    }

    /* Why pilates section index page */
    #why-pilates {
        max-width: 1500px;
        min-width: 1200PX;
        justify-content: center;
        flex-direction: column;
        align-self: center;
        margin: auto;
    }
    #ul-why-pilates {
        padding-left: 3rem;
    }

} 
