/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

/* *-selector to remove default styles*/
*{
    margin: 0;
    padding: 0;
}

/* General styles */
body{
    font-family: "Montserrat", sans-serif;
}

/* Main Element */
main{
    /* Push footer down */
    min-height: 100vh;
    display: flex;
    background-color: aquamarine;
    /* also can be done via flex shorthand --> flex: grow shrink basis --> flex: 1 0 auto if so then flex properties in body element as well*/
    /* notwendig? flex-direction: column;*/
}

h1 {
    font-family: "Raleway", "Montserrat", sans-serif;
    text-transform: uppercase;
    font-style: normal;
    font-weight: 600;
    color: #722F37;
    letter-spacing: 2px;
}

/*Header*/
header{
    color: #4A0404;
    display: flex;
    justify-content: space-between;
}

header a{
    text-decoration: none;
    color: inherit;
}

.active{
    text-decoration: underline;
}

/* Menu/navbar*/
#menu{
    list-style-type: none;
}

/* ist das überhaupt notwendig, wenn ich das weglasse geht es trotzdem
footer {
    margin-top: auto;
  }*/